<ion-header [translucent]="true">
  <ion-toolbar>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pokémons</ion-card-title>
      <ion-card-subtitle>Tipo Fogo</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/charmander.png">
          </ion-thumbnail>
          <ion-label>Charmander</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/charmeleon.png" />
          </ion-thumbnail>
          <ion-label>Charmeleon</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/charizard.png" />
          </ion-thumbnail>
          <ion-label>Charizard</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/vulpix.png" />
          </ion-thumbnail>
          <ion-label>Vulpix</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/ninetales.png" />
          </ion-thumbnail>
          <ion-label>Ninetales</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/growlithe.png" />
          </ion-thumbnail>
          <ion-label>Growlithe</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/arcanine.png" />
          </ion-thumbnail>
          <ion-label>Arcanine</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/ponyta.png" />
          </ion-thumbnail>
          <ion-label>Ponyta</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/rapidash.png" />
          </ion-thumbnail>
          <ion-label>Rapidash</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/magmar.png" />
          </ion-thumbnail>
          <ion-label>Magmar</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>