<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <img src="https://www.metalmec-rs.com.br/images/icon-2.png" class="imgheader">
    <ion-icon name="menu-outline" class="icon"></ion-icon>

  </ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pag 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <img src="https://th.bing.com/th/id/R.60289077b06e5ebc6759a6667563d3e9?rik=9M%2fJbAzUlAFkQw&pid=ImgRaw&r=0" class="imgprinc">
    <div class="textimgprinc"><h3 class="textimgprinc"> Serviço de Confiança!</h3></div>
  </div>
<div>
  <p> MetalStructure Pro é o aplicativo definitivo para engenheiros civis e projetistas estruturais que trabalham com estruturas metálicas. Desenvolvido para simplificar e aprimorar o processo de design, análise e gerenciamento de projetos de estruturas metálicas, este aplicativo oferece uma gama completa de ferramentas e recursos inovadores.</p>
  <h3>Recursos Principais:</h3>
  <p></p>
  
    <p>• <strong>Design de Estruturas Metálicas:</strong> Crie e modifique projetos de estruturas metálicas com facilidade usando uma interface intuitiva. Defina elementos estruturais, como vigas, colunas, e treliças, e veja-os se transformarem em modelos 3D detalhados.</p>
  
    Análise Avançada: Realize análises estruturais detalhadas para garantir a segurança e a estabilidade de seus projetos. O MetalStructure Pro oferece cálculos precisos para esforços, tensões e deformações, com suporte para diferentes normas e regulamentações internacionais.
    
    Simulações Interativas: Visualize o comportamento da estrutura sob várias condições de carga com simulações interativas. Avalie como sua estrutura reage a diferentes forças e identificando possíveis pontos de falha antes da construção.
    
    Relatórios Personalizados: Gere relatórios detalhados e personalizados com resultados da análise, especificações de materiais e recomendações de design. Exportar relatórios em formatos diversos como PDF, Excel e Word.
    
    Biblioteca de Materiais: Acesse uma vasta biblioteca de perfis e materiais metálicos, incluindo aço, alumínio e ligas especializadas. O aplicativo fornece informações detalhadas sobre propriedades dos materiais e compatibilidade.
    
    Integração com CAD: Importe e exporte projetos para e de softwares CAD populares, facilitando a colaboração e a integração com outras ferramentas de design.
    
    Colaboração em Tempo Real: Trabalhe em equipe com recursos de colaboração em tempo real. Compartilhe projetos e análises com colegas e clientes, e obtenha feedback instantâneo.
    
    Atualizações Regulares: Mantenha-se atualizado com as últimas normas e técnicas de engenharia estrutural com atualizações regulares do aplicativo.
    
    MetalStructure Pro é projetado para maximizar a eficiência e a precisão em todos os aspectos do design e análise de estruturas metálicas. Seja você um engenheiro experiente ou um estudante de engenharia, o MetalStructure Pro é a solução completa que você precisa para transformar suas ideias em estruturas metálicas robustas e seguras.]

</div>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
