<ion-header [translucent]="true">
  <ion-toolbar>
  
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pokémons</ion-card-title>
      <ion-card-subtitle>Tipo Grama</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/bulbasaur.png">
          </ion-thumbnail>
          <ion-label>Bulbassauro</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/ivysaur.png" />
          </ion-thumbnail>
          <ion-label>Ivyssauro</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/venusaur.png" />
          </ion-thumbnail>
          <ion-label>Venussauro</ion-label>
        </ion-item>
  
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/oddish.png" />
          </ion-thumbnail>
          <ion-label>Oddish</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/bellsprout.png" />
          </ion-thumbnail>
          <ion-label>Bellsprout</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/weepinbell.png" />
          </ion-thumbnail>
          <ion-label>Weepinbell</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/victreebel.png" />
          </ion-thumbnail>
          <ion-label>Victreebel</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/exeggcute.png" />
          </ion-thumbnail>
          <ion-label>Exeggute</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/exeggutor.png" />
          </ion-thumbnail>
          <ion-label>Exeggutor</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/tangela.png" />
          </ion-thumbnail>
          <ion-label>Tangela</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
