<ion-header [translucent]="true">
  <ion-toolbar>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pokémons</ion-card-title>
      <ion-card-subtitle>Tipo Normal</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/pidgey.png">
          </ion-thumbnail>
          <ion-label>Pidgey</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/pidgeotto.png" />
          </ion-thumbnail>
          <ion-label>Pidgeotto</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/pidgeot.png" />
          </ion-thumbnail>
          <ion-label>Pidgeot</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/rattata.png" />
          </ion-thumbnail>
          <ion-label>Rattata</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/raticate.png" />
          </ion-thumbnail>
          <ion-label>Raticate</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/fearow.png" />
          </ion-thumbnail>
          <ion-label>Fearow</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/meowth.png" />
          </ion-thumbnail>
          <ion-label>Meowth</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/persian.png" />
          </ion-thumbnail>
          <ion-label>Persian</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/doduo.png" />
          </ion-thumbnail>
          <ion-label>Doduo</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="https://img.pokemondb.net/sprites/ruby-sapphire/normal/dodrio.png" />
          </ion-thumbnail>
          <ion-label>Dodrio</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>